@{
    ViewBag.Title = "米样单列表";
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}

<div class="mr-5 mt-5">
    @Html.Partial("Search")
</div>
<div class="pl-5 pr-5">
    <table id="reportTable" lay-filter=""></table>
</div>

<script>
    var meterSampleListTable = LayuiTableRender({
        elem: '#reportTable',
        url: '@Url.Action("GetMainReportList")',
        searchform: 'reportTableSearchForm',
        totalRow: true,
        where: $("#reportTableSearchForm").serializeJson(),
        cols: [[
            /*{ type: 'checkbox', width: 50 },*/
            { field: 'CustomerName', title: '客户名', width: 250 },
            { field: 'TotalCount', title: '总匹数', width: 300, totalRow: true },
            { field: 'TotalPrice', title: '总价', width: 300, totalRow: true }
        ]]
    });

    function Search() {
        meterSampleListTable.reload({
            page: { curr: 1 },
            where: $("#reportTableSearchForm").serializeJson()
        });
    }
</script>