
@{
    ViewBag.Title = "EditUserRole";
    Layout = "~/Views/Shared/_LayoutWithOutNav.cshtml";
}

<div style="height:100%;width:100%;overflow:scroll;">

</div>
<div style="width:100%;text-align:center">
    <button type="button" lay-submit="" class="btn btn-primary mr-30 mt-10" onclick="SaveUserRole()">保存</button>
</div>
