@model Entities.Model.Search.MeterSampleSearch

<style>
    .layui-form-label {
        width: 100px;
    }

    .layui-form-item {
        margin-bottom: 0px;
    }
</style>

<form class="layui-form" id="meterSampleSearchForm">
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">客户：</label>
            <div class="layui-input-block">
                @Html.DropDownListFor(d => d.CustomerId, ViewBag.CustomerList as IEnumerable<SelectListItem>,
                    new Dictionary<string, object> {
                        { "class" , "layui-input" },
                        { "lay-search" , ""} })
            </div>
        </div>
        <div>
            @{
                DateTime startMonth = DateTime.Parse(DateTime.Now.ToString("yyyy-MM-dd") + " 00:00:00");
                //获得本月月初时间
                //var startMonth = dt.AddDays(1 - dt.Day);
                //获得本月月末时间
                DateTime s = DateTime.Parse(DateTime.Now.ToString("yyyy-MM-dd") + " 23:59:59");
                DateTime ss = s.AddDays(1 - s.Day);
                var endMonth = ss.AddMonths(1).AddDays(-1);
            }
            <div class="layui-inline">
                <label class="layui-form-label">起始发货时间：</label>
                <div class="layui-input-block">
                    <input type="date" class="layui-input" lay-verify="required" id="StartDeliveryTime" value='@startMonth.ToString("yyyy-MM-dd")' name="StartDeliveryTime" style="height:40px;width:200px;">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">截止发货时间：</label>
                <div class="layui-input-block">
                    <input type="date" class="layui-input" lay-verify="required" id="EndDeliveryTime" value='@endMonth.ToString("yyyy-MM-dd")' name="EndDeliveryTime" style="height:40px;width:200px;">
                </div>
            </div>
            <div class="layui-inline" style="margin-left:100px">
                <button type="button" lay-submit="" class="btn btn-primary" onclick="Search()">
                    <span class="glyphicon glyphicon-search"></span>查询
                </button>
                <button type="button" class="btn btn-primary" onclick="AddMeterSample()">
                    <span class="glyphicon glyphicon-plus"></span>新增米样单
                </button>
                <button type="button" class="btn btn-primary" onclick="PrintStatement()">
                    <span class="glyphicon glyphicon-plus"></span>打印对账单
                </button>
                <button type="button" class="btn btn-primary" onclick="PrintMeterSample()">
                    <span class="glyphicon glyphicon-plus"></span>打印码单
                </button>
            </div>
        </div>
    </div>
</form>

<script>
    layui.use(['form'], function () {
        var form = layui.form;
        form.render();
    });
</script>