<div class="bg-primary h-50">
    <div class="pl-10" style="display: inline-block;width:100%;">
        <strong style="font-size:30px">健康元HR</strong>
        <ul class="pull-right pr-50" style="list-style-type:none;margin-top:15px;">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" style="color:#ffffff;text-decoration: none;cursor:pointer">
                    @(Utlis.CurrentUser.User.UserCnName) <span class="caret"></span>
                </a>
                <ul class="dropdown-menu dropdown-usermenu purple" style="min-width:50px;z-index:99999">
                    <li><a href="@Url.Action("Logout","../Login/")"><i class="glyphicon glyphicon-off" style="margin-right:10px;"></i><span>注销</span></a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div style="clear:both"></div>
</div>